<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SafeD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SafeDrive-Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B36F9F19EF0A3C00ADB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B36FB419EF0A3C00ADB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B36FC819EF0ABA00ADB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
